@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Noto+Sans+TC&family=Open+Sans:wght@300&family=Oswald:wght@600&family=Playfair+Display&family=Titillium+Web:ital,wght@1,200&display=swap');

:root {
  --Almostblack: #121e26;
  --Deep-forest-green: #283635;
  --Light-beige: #f4efeb;
  --Beige: #d2c0b2;
  --Clay: #9d6556;
  --smoke-white: #f5f5f5;
  --platinum-white: #e5e4e2;
}

body {
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display";
  color: var(--Almostblack);
}
a {
  text-emphasis: none;
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.flex-right {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}

.main-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-height: auto;
}

.main-flex-left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.p-s {
  padding: 5px;
}
.p-m {
  padding: 10px;
}
.p-l {
  padding: 15px;
}
.p-xl {
  padding: 20px;
}

.m-s {
  margin: 5px;
}
.m-m {
  margin: 10px;
}
.m-l {
  margin: 15px;
}
.m-xl {
  margin: 20px;
}

nav {
  height: 10vh;
  width: 100vw;
  background-color: var(--smoke-white);
  position: fixed;
  z-index: 212;
  top: 0;
  left: 0;
}
nav ul li {
  display: inline;
  margin: 0px 5px;
  font-weight: 400;
  cursor: pointer;
}
nav ul li:hover {
  color: var(--Clay);
  transition: 0.2s ease;
}
nav ul li i:hover {
  color: var(--Clay);
  transition: 0.2s ease;
}

.nav-logo {
  font-size: 24px;
  font-weight: 800;
}
.center-part {
  right: 50%;
  left: 50%;
  margin: auto;
}
.list-right {
  margin: 10px;
}
.list-right ul li i {
  font-size: 18px;
  font-weight: 600;
}
.main-bg {
  background-image: url("images/pexels-cottonbro-studio-9953172.jpg");
  background-position: center;
  background-size: cover;
}
.landing-page {
  height: 90vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.landing-text {
  width: 100vw;
  margin-right: 8vw;
  z-index: 22;
}
.landing-heading {
  font-size: 55px;
  font-weight: bold;
  color: var(--Light-beige);
  text-wrap: balance;
  text-shadow: 0px 0px 2px #283635;
  font-family: "Open sans";
}
.primary-dark-button {
  background-color: var(--Deep-forest-green);
  color: var(--Light-beige);
  width: 130px;
  height: 50px;
  border-radius: 3px;
  border: 0px;
}
.primary-dark-button:hover {
  background-color: var(--Almostblack);
}
.button {
  padding-top: 50px;
}
.place-right {
  left: 10%;
  margin: auto;
  margin-right: 30px;
}

.Hidden-list {
  display: none;
  position: absolute;
  z-index: 10;
  transition: opacity 1s ease-in;
  background-color: var(--platinum-white);
  border-radius: 5px;
  border: 1px solid #121e2667;
  margin: 20px 10px;
}
.Hidden-list li {
  margin: 12px 0px;
  cursor: pointer;
}
.category span {
  margin: 5px 20px;
  font-size: 18px;
  color: #121e26a7;
}
.category span:hover {
  color: var(--Almostblack);
}
.heading2 {
  font-size: 22px;
  font-weight: bold;
}
.bottom-margin {
  margin: 35px 0px;
}
.bg-smoke-white {
  background-color: var(--smoke-white);
}
.grid-3 {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.item-card {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  border: 1px solid #e9e4de;
}
.item-img-container {
  background: var(--platinum-white);
}
.item-img-container:hover {
  background-color: #9b9b9b;
  transition: 0.8s ease;
}
.item-img {
  height: 360px;
  width: 275px;
}

.item-desp {
  display: grid;
  gap: 10px;
  background-color: var(--smoke-white);
}
.desp-head {
  color: var(--Almostblack);
  font-size: 18px;
  font-weight: bold;
}
.desp {
  color: #121e26a7;
}
.price {
  font-size: 20px;
  font-weight: bold;
}

.grid-3 .item-card {
  margin: 20px 10px;
}
.bg-green {
  background-color: var(--Deep-forest-green);
}
.bg-beige {
  background-color: var(--Beige);
}
.heading1 {
  font-size: 50px;
}
.text-white {
  color: var(--smoke-white);
}
#shoe-section div p {
  color: var(--smoke-white);
}
#shoe-section div span {
  color: #f5f5f592;
}
#shoe-section div span {
  margin: 0px 5px;
}
.line hr {
  width: 18vw;
  margin: 30px 0px;
  height: 1.2px;
  background-color: var(--smoke-white);
}
p {
  text-wrap: balance;
}
.para {
  width: 15vw;
  font-size: 14px;
  margin: 20px 0px;
}
.primary-light-button {
  background-color: var(--smoke-white);
  color: var(--Deep-forest-green);
  width: 130px;
  height: 50px;
  border-radius: 3px;
  border: 0px;
}
.primary-light-button:hover {
  background-color: var(--platinum-white);
}
.shoe-img-container {
  margin: auto;
  margin-bottom: 20px;
  animation: shoe-animate 5s 5s infinite ease;
  z-index: 22;
}

#shoe-section {
  margin: auto;
}
.shoe-img {
  width: 580px;
  height: 720px;
}

@keyframes shoe-animate {
  0% {
    transform: rotate(0deg) translateY(0px) translateX(0px);
    filter: drop-shadow(0px 0px 8px var(--smoke-white));
  }
  30% {
    transform: rotateY(-2deg) translateY(50px);
    filter: drop-shadow(0px 0px 18px rgb(196, 255, 107));
  }
  70% {
    transform: rotateY(-5deg) translateY(50px);
    filter: drop-shadow(0px 0px 22px rgb(158, 233, 45));
  }
  80% {
    transform: rotateY(-5deg) translateY(50px) translateX(-100vw);
  }
  100% {
    transform: rotateY(-5deg) translateY(50px) translateX(-200vw);
  }
}
.close-up-img{
  height: 600px;
  width: 500px;
}
.bg-img-bw{
  background-image: url(images/b&w\ pic.jpg);
  background-size: cover;
  background-position: center;
}
.img4grid{
  display: grid;
  grid-template-columns: repeat(4,25vw);

}
.grid4img{
  width: 25vw;
  height: 75vh;
}
.position-absolute{
  position: absolute;
  z-index: 2;
}
#white-text div p{
  color: greenyellow;
}
#bw-para{
  width: 40vw;
}
.font-change{
  animation: font-animate 6s  5s infinite ease;
}

@keyframes font-animate {
  0%{
    transform: scale(1);
    font-family: 'Playfair Display';
    transform: translateY(0px);
    text-shadow: 0px 0px 0px rgba(33, 128, 35, 1);
  }
  15%{
    transform: scale(1.2);
    font-family: 'Open sans';
    transform: translateY(10px);
    text-shadow: 2px 2px 2px rgba(33, 128, 35, 1);
  }
  25%{
    transform: scale(1.6);
    font-family: 'Noto Sans TC';
    transform: translateY(20px);
    text-shadow: 5px 5px 7px rgb(90, 192, 18)

  }
  45%{
  transform: scale(1.8);
    font-family: 'Oswald';
    transform: translateY(25px);
    text-shadow: 8px 8px 10px rgb(109, 225, 27)
  }
  65%{
    transform: scale(2);
      font-family: 'Titillium Web';
      transform: translateY(30px);
      text-shadow: 10px 10px 12px rgb(109, 225, 27)
    }
    85%{
      transform: scale(2.2);
     font-family:'Edu TAS Beginner';
     transform: translateY(35px);
     text-shadow: 12px 12px 15px rgb(123, 243, 37)
    }
    100%{
      transform: scale(1);
      font-family: 'Playfair Display';
      transform: translateY(0px);
      text-shadow: 0px 0px 0px rgba(33, 128, 35, 1);
    }
  
}
#bw-section{
  height: 75vh;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.grid2 div{
  margin: 5px 15px;
}
#icons span{
  margin: 5px 10px;
  font-size: 30px;
}
#icons span i:hover{
  color: var(--Clay);
  transition: 0.2s ease-in;
}
.footer-heading{
  margin: 30px 0px;
} 
#email-form{
  margin: auto;
}
#links{
  margin: auto;
}
#footer{
  height: 70vh;
}
.bg-platinum-white{
  background: var(--platinum-white);
}
#email{
  background-color: var(--smoke-white);
  border: var(--platinum-white);
  margin: 10px 0px;
  width: 200px;
  padding: 5px;
  text-align: center;
}
#email:active{
  outline: none;
}
.check{
  margin: 0px 5px;
  background-color: var(--Deep-forest-green);
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}
.check i{
  color: var(--platinum-white);
}


